@import '_variables';

header {
    height: $header-size;
    width: 100%;
    background: #272727;
    border-bottom: 4px solid $dk-orange;
    position: fixed;
    z-index: 1000;

    .container {
        max-width: 960px;
    }

    .logo-container {
        img {
            width: 75%;
            max-width: 210px;
            margin: auto;
        }
    }

}

#nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  max-width: 960px;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
}

/*Navigation*/
nav ul {
  margin: 5px auto;
  width: 450px;
  display: block;
}

nav ul li a {
    
  text-transform: uppercase;
  font-size: 13px;
}

.right {
  -webkit-transform: rotate(180deg);
}

.nav-pills > li.active > a {
  background: #c97a15;
  border-radius: 0;
}

.nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.nav-pills > li.active > a:hover {
  background: #c97a15;
}

.open > .dropdown-menu {
    display: block;
    background: #272727;
    border-radius: none;
}

.dropdown-menu > li > a:hover {
  color: #fff;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background: #c97a15;
}

.nav .open > a, .nav .open > a:focus {
  background: #c97a15;
}

 .nav .open > a:focus{
   color: white;
 }

.btn-arrow-right {
  -webkit-transform: rotate(180deg);
}

.gallery-sub-nav nav {
  max-width: 800px;
  margin: auto;
}

.gallery-sub-nav nav ul {
  margin: 0.6em 0 0 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.nav.active > .gallery.nav-pills > li.active > a:hover {
  background: #c97a15;
  border-radius: 0;
}

.nav-gallery-sub-nav > a:hover, .gallery-sub-nav .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.dropdown{
  color: #333;
}

.dropdown-menu > li > a {
  color: #fff;
}

.dropdown-menu > li > a:hover {
  background: #c97a15;
  color: white;
}

.nav-pills > li.active > a:hover {
  background: #c97a15;
}

.gallery-sub-nav nav {
  max-width: 970px;
  margin: auto;
}

.gallery-sub-nav nav ul {
  margin: 0.3em auto;
  position: relative;
}

.gallery-sub-nav .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.gallery-sub-nav .nav-pills > li.active > a:hover {
  background: #c97a15;
}


@media all and (max-width: 768px) {

  header {
      position: relative;
      height: auto;
  }

  #nav-wrap {
    flex-wrap: wrap;
    
  }

  #dk-logo {
    width: 50%;
    order: 0;
  }

  #customs-logo {
    width: 50%;
    order: 1;
  }

  .navbar {
    width: 100%;
    order: 2;
  }

  nav ul li {
    background: #c97a15;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 4px 0px;
  }

  nav ul {
    width: 100%;
  }

  .nav-first {
      margin-left: 2px;
  }
}

@media all and (min-width: 846px) and (max-width: 980px){
  nav ul li{
    /*font-size: 11px;*/
  }
}

@media all and (min-width: 768px) and (max-width: 845px){
  nav ul li{
    font-size: 12px;
  }
}