/*
    Document   : css/style.scss
    Created on : 2014-01-20 03:19 AM
    Author     : lawjeremy
    Description:
    Main stylesheet for dkcustonwelding.com
*/
root {
  display: block;
}

body {
  background: #272727;
  margin: 0;
  padding: 0;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #EFEFEF;
}

h1 {
  text-transform: uppercase;
}

h4 {
  color: #c97a15;
}

a, a:visited {
  color: #CCCCCC;
}

a:hover {
  color: #c97a15;
  text-decoration: none;
}

#main {
  /*min-height: 800px;*/
}

.main-container {
  background: black;
  margin: 0;
  padding: 120px 0 0 0;
}

.secondary-container {
  margin: 0;
  padding: 0;
  min-height: 670px;
  /*background: url(/img/bgs/bg-home-hero-repeat.png);*/
  background: #c97a15;
  background-image: url(/img/bgs/bg-home-hero-2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.secondary-container-smaller {
  min-height: 500px;
}

.secondary-container.gallery {
  margin-top: 50px;
}

.secondary-inner {
  max-width: 960px;
  margin: auto;
}

header {
  height: 120px;
  width: 100%;
  background: #272727;
  border-bottom: 4px solid #c97a15;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}

header img {
  height: 107px;
  margin-top: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header ul li a {
  text-transform: uppercase;
}

.header-inner, .footer-inner {
  max-width: 960px;
  margin: 0 auto;
}

.header-reduced {
  height: 60px;
  position: fixed;
  opacity: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}

.header-reduced nav ul {
  height: 50px;
  margin: 0.5em 0 0 0;
  /*font-size: 0.85em;*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-reduced img {
  height: 45px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-reduced .social-box {
  height: 20px;
  width: 20px;
  line-height: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*Navigation*/
nav ul {
  float: right;
  margin: 2.5em 0 0 0;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.right {
  -webkit-transform: rotate(180deg);
}

.nav-pills > li.active > a {
  background: #c97a15;
  border-radius: 0;
}

.nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.nav-pills > li.active > a:hover {
  background: #c97a15;
}

.btn-arrow-right {
  -webkit-transform: rotate(180deg);
}

.gallery-sub-nav nav {
  max-width: 800px;
  margin: auto;
}

.gallery-sub-nav nav ul {
  margin: 0.6em 0 0 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.nav.active > .gallery.nav-pills > li.active > a:hover {
  background: #c97a15;
  border-radius: 0;
}

.nav-gallery-sub-nav > a:hover, .gallery-sub-nav .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.nav-pills > li.active > a:hover {
  background: #c97a15;
}

.gallery-sub-nav nav {
  max-width: 970px;
  margin: auto;
}

.gallery-sub-nav nav ul {
  margin: 0.3em auto;
  position: relative;
}

.gallery-sub-nav .nav-pills > li > a:hover {
  background: none;
  color: #c97a15;
}

.gallery-sub-nav .nav-pills > li.active > a:hover {
  background: #c97a15;
}

.home-hero {
  min-height: 500px;
  padding: 20px;
  margin: auto;
}

.home-hero-top {
  min-height: 659px;
  background-color: #c97a15;
  background-image: url(/img/bgs/bg-home-hero-2.jpg);
  background-repeat: no-repeat;
}

.home-hero-middle {
  background: url(/img/bgs/bg-home-hero-repeat.png);
}

.home-hero-bottom {
  background: #c97a15;
}

div.about-copy {
  margin-top: 30px;
}
div.about-copy p {
  font-size: 12px;
}

.home-headline {
  height: 145px;
}

.gallery-sub-nav {
  height: 50px;
  width: 100%;
  top: 120px;
  z-index: 1000;
  position: fixed;
  background: #272727;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.high {
  top: 60px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider-thumbs {
  padding-top: 10px;
  list-style-type: none;
  margin-left: -40px;
}

.slider-link {
  padding-bottom: 8px;
}

.slider-link img {
  border: 2px solid #c97a15;
}

.slider-wrap {
  height: 480px;
}

.secondary-hero {
  min-height: 450px;
}

.secondary-hero.home {
  background: url(/img/home-5.jpg);
  background-repeat: no-repeat;
}

.secondary-hero.custom {
  background: url(/img/custom.JPG);
  background-repeat: no-repeat;
}

.secondary-hero.about {
  background: url(/img/dk-team-photo.JPG);
  background-repeat: no-repeat;
}

.secondary-hero.contact {
  margin-bottom: 40px;
}

footer {
  min-height: 136px;
  padding: 10px 0;
  border-top: 2px solid #c97a15;
  background: #272727;
}

.footer-right {
  text-align: right;
  padding: 10px 0;
}

.copyright {
  color: #c97a15;
  padding-right: 10px 0;
  text-align: right;
}

.outer-carousel {
  min-height: 450px;
}

.gallery-sub-nav.high {
  top: 60px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gallery-wrap {
  max-width: 960px;
  height: 480px;
  margin: 0 auto;
}

.anythingSlider {
  margin: 10px auto;
  max-height: 480px;
  max-width: 960px;
}

.anythingNavWindow {
  max-width: 800px;
  max-height: 100px;
}

.anythingControls ul {
  list-style-type: none;
  float: left;
}
.anythingControls ul.thumbNav {
  width: 100%;
  margin-top: 10px;
}
.anythingControls ul.thumbNav li {
  list-style-type: none;
  float: left;
  padding-right: 38px;
  padding-top: 10px;
}
.anythingControls ul.thumbNav li img {
  width: 115px;
  height: 70px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.gallery-thumb {
  max-width: 100%;
  border: 1px solid #c97a15;
  margin-top: 16px;
}

.row.gallery-thumbs {
  margin-left: 75px;
}

.row.gallery-thumbs h5 {
  text-align: center;
  text-transform: uppercase;
}

/*Buttons*/
.btn-quote-footer {
  width: 133px;
}

.btn-contact {
  width: 133px;
  margin: 0 auto;
}

.google-maps {
  position: relative;
  padding-bottom: 48%;
  margin-top: 15px;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*Social icons*/
.social-box {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 7px 0 0 5px;
  float: left;
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #4099FF;
}

.pinterest {
  background: #c62e33;
}

.instagram {
  background: #3f729b;
}

.about-team {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 450px;
}

/*Feature Box*/
div.feature {
  max-width: 35%;
  margin-top: 30px;
  height: 250px;
  min-height: 200px;
}
div.feature .handle {
  background: #464646;
  color: #c97a15;
  height: 15%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
div.feature .body {
  background: #272727;
  color: #EFEFEF;
  height: 85%;
}
div.feature .body p {
  padding: 10px;
}

.slider-text {
  width: 45%;
  margin-left: 25px;
  margin-top: 10px;
  top: 23px;
  height: 400px;
}
.slider-text .handle {
  background: #464646;
  color: #c97a15;
  height: 15%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.slider-text .handle h3 {
  margin-top: 10px;
}
.slider-text .handle h3.h3-pullup {
  margin-top: -5px;
}
.slider-text .body {
  background: #272727;
  color: #EFEFEF;
  height: 85%;
}
.slider-text .body p {
  padding: 10px;
  line-height: 1.5em;
}

.feature.about {
  min-height: 450px;
  margin: 20px 0 0 10px;
  max-width: 450px;
}

.feature.feature-product {
  min-height: 450px;
  margin: 20px auto 0;
  max-width: 450px;
}

.feature.home {
  min-height: 450px;
  margin: 10px;
}

.feature.custom {
  min-height: 450px;
  margin: 0 10px;
  float: right;
}

.product-points li {
  font-size: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #c97a15;
}

@media all and (max-width: 990px) and (min-width: 700px) {
  .home-hero-top {
    min-height: 800px;
  }

  .feature p {
    font-size: 11px;
  }

  .feature h3 {
    font-size: 20px;
  }

  .btn-contact {
    float: left;
    margin: 62px 10px 0 0;
  }

  .about-team {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 450px;
  }

  div.gallery {
    background-image: none;
  }

  .about-copy {
    margin: 0 15px;
  }
}
@media all and (max-width: 768px) {
  nav ul {
    width: 100%;
  }

  .about-copy {
    margin: 0 15px;
  }
  .about-copy p {
    font-size: 14px;
  }

  .about-team {
    max-width: 100%;
    min-height: 0;
  }

  .outer-carousel, .slider-wrap {
    min-height: 200px;
  }

  nav ul li {
    background: #c97a15;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 4px 0px;
  }

  header {
    position: relative;
    height: 400px;
  }

  .main-container {
    padding: 0;
  }

  footer * {
    width: 100%;
    text-align: center;
  }

  .home-hero-top, .home-hero-middle {
    background-image: none;
    background-color: #272727;
  }

  .home-headline {
    height: auto;
  }

  .secondary-container {
    background-image: none;
    min-height: none;
  }

  .secondary-hero {
    background: none !important;
    min-height: 0 !important;
  }

  .feature .body {
    overflow: hidden;
  }

  div.feature {
    max-width: 90%;
    height: auto;
    float: none !important;
  }

  h1 img {
    margin: auto;
  }

  p.copyright {
    text-align: center;
    padding-top: 20px;
  }
}
@media all and (max-width: 768px) {
  .anythingControls ul.thumbNav li {
    padding-right: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
