<div class="row secondary-container" id="about-container">
  <div class="row secondary-inner">
   <img src="/img/dk-team-photo.JPG" class="about-team" />
   
    <div class="row">
      <div class="col-md-12 about-copy">
      
     <p>Owner &amp; Operator Dave Krabbe started out in 2005, providing rust protection coating for many vehicle types, including passenger, commercial and farming vehicles. With a few years of experience under his belt, Dave decided to branch out and offer services in custom welding and fabrication. This move seemed natural with 13 years of aluminum fabrication already on his resume, and DK Custom Welding &amp; Design was born.</p>

<p>Over the years, DK Custom Welding &amp; Design has completed jobs of all shapes and sizes, and considers no job too big or too small. An eagerness to take on any and all challenges, has allowed DK to successfully and rapidly expand.</p>

<p>DK has now grown to a team of 10 and in fall 2014 acquired Wellington Manufacturing Inc. Business operations were moved to the facility located at 7453 Wellington Rd 18, in Elora, ON.</p>
      </div>
      
    </div>
    
  </div>  
  
</div>

