<div class="row secondary-container">
  <div class="row secondary-inner">
    <div class="secondary-hero contact">
      <div class="google-maps">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.0161567620457!2d-80.45120240000001!3d43.689427499999965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b9552973a98ab%3A0xf8ae5341282470d1!2s7453+Wellington+County+Road+18%2C+Centre+Wellington%2C+ON+N0B!5e0!3m2!1sen!2sca!4v1409398445385" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h1>Contact Us</h1>
        
        <p>Looking for a custom quote? </p>
        <p>Have a question about one of our products?  Call, or email</p>
        
      </div>
      
      <div class="col-md-2">
        <h1><a href="mailto:info@dkcustomwelding.com?subject=Quote request"><img src="/img/btn-quote.png" class="btn-contact" /></a></h1>
        
        <h1><a href="tel:5198469085"><img src="/img/btn-phone.png" class="btn-contact" /></a></h1>
      </div>
      
    </div>
    
  </div> 
</div>
