<div class="gallery-sub-nav visible-md visible-lg">
  <nav class="navbar" role="navigation">
    <ul class="nav nav-pills gallery-nav">
      <li class="active"><a href="/#/gallery/trucks">Trucks</a></li>
      <li class=""><a href="/#/gallery/home">Home</a></li>
      <li class=""><a href="/#/gallery/custom">Custom Fabrications</a></li>
      <li class=""><a href="/#/gallery/restoration">Restorations</a></li>
      <li class=""><a href="/#/gallery/laser">Laser Cutting</a></li>
    </ul>
  </nav>
</div>
<div class="row secondary-container gallery">
  <div class="row secondary-inner">
    <div class="secondary-hero">
      <div class="gallery-wrap">
      <!-- AnythingSlider #1 -->
			<ul id="slider1">

        <li><img src="/img/gallery/home/001.JPG" alt=""></li>
        <!-- <li><img src="/img/gallery/home/002.JPG" alt=""></li> -->
        <li><img src="/img/gallery/home/003.JPG" alt=""></li>
        <!-- <li><img src="/img/gallery/home/004.JPG" alt=""></li> -->
        <li><img src="/img/gallery/home/005.JPG" alt=""></li>
        <li><img src="/img/gallery/home/006.JPG" alt=""></li>
        <li><img src="/img/gallery/home/007.JPG" alt=""></li>
        <li><img src="/img/gallery/home/008.JPG" alt=""></li>
        <li><img src="/img/gallery/home/009.JPG" alt=""></li>
        <li><img src="/img/gallery/home/010.png" alt=""></li>
        <li><img src="/img/gallery/home/011.png" alt=""></li>
        <li><img src="/img/gallery/home/012.png" alt=""></li>
        <li><img src="/img/gallery/home/013.png" alt=""></li>
        <li><img src="/img/gallery/home/014.png" alt=""></li>


			</ul>  <!-- END AnythingSlider #1 -->
      </div>
    </div>

  </div>
</div>
