<div class="gallery-sub-nav visible-md visible-lg">
  <nav class="navbar" role="navigation">
    <ul class="nav nav-pills gallery-nav">
      <li class="active"><a href="/#/gallery/trucks">Trucks</a></li>
      <li class=""><a href="/#/gallery/home">Home</a></li>
      <li class=""><a href="/#/gallery/custom">Custom Fabrications</a></li>
      <li class=""><a href="/#/gallery/restoration">Restorations</a></li>
      <li class=""><a href="/#/gallery/laser">Laser Cutting</a></li>
    </ul>
  </nav>
</div>
<div class="row secondary-container gallery">
  <div class="row secondary-inner">
    <div class="secondary-hero">
      <div class="gallery-wrap">
      <!-- AnythingSlider #1 -->
			<ul id="slider1">

        <li><img src="/img/gallery/restoration/0.png" alt=""></li>
        <li><img src="/img/gallery/restoration/1.png" alt=""></li>
        <li><img src="/img/gallery/restoration/2.png" alt=""></li>
        <li><img src="/img/gallery/restoration/3.png" alt=""></li>
        <li><img src="/img/gallery/restoration/4.png" alt=""></li>
        <li><img src="/img/gallery/restoration/5.png" alt=""></li>
        <li><img src="/img/gallery/restoration/6.png" alt=""></li>
        <li><img src="/img/gallery/restoration/7.png" alt=""></li>
        <li><img src="/img/gallery/restoration/8.png" alt=""></li>
        <li><img src="/img/gallery/restoration/9.png" alt=""></li>
        <!-- <li><img src="/img/gallery/restoration/10.png" alt=""></li> -->
        <li><img src="/img/gallery/restoration/11.png" alt=""></li>
        <li><img src="/img/gallery/restoration/12.png" alt=""></li>
        <!-- <li><img src="/img/gallery/restoration/13.png" alt=""></li> -->

			</ul>  <!-- END AnythingSlider #1 -->
      </div>
    </div>

  </div>
</div>
