<div class="gallery-sub-nav visible-md visible-lg">
  <nav class="navbar" role="navigation">
    <ul class="nav nav-pills gallery-nav">
      <li class="active"><a href="/#/gallery/trucks">Trucks</a></li>
      <li class=""><a href="/#/gallery/home">Home</a></li>
      <li class=""><a href="/#/gallery/custom">Custom Fabrications</a></li>
      <li class=""><a href="/#/gallery/restoration">Restorations</a></li>
      <li class=""><a href="/#/gallery/laser">Laser Cutting</a></li>
    </ul>
  </nav>
</div>
<div class="row secondary-container gallery">
  <div class="row secondary-inner">
    <div class="secondary-hero">
      <div class="gallery-wrap">
      <!-- AnythingSlider #1 -->
			<ul id="slider1">

        <li><img src="/img/gallery/trucks/001.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/002.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/003.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/004.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/005.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/006.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/007.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/008.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/009.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/010.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/011.JPG" alt=""></li>
        <li><img src="/img/gallery/trucks/012.JPG" alt=""></li>



			</ul>  <!-- END AnythingSlider #1 -->
      </div>
    </div>

  </div>
</div>
