<div class="home-hero home-hero-top">

  <div class="header-inner">
    <div class="row slider-wrap">

      <div class="my-flipster">
        <ul>
          <li>
            <div style="width: 750px; height: 450px; background: url('/img/home-5.jpg');">
              <div class="slider-text">
                <div class="handle">
                 <h3>Home &amp; Office</h3>
                </div>
                <div class="body">
                  <p>From decorative interior stair railings to functional pool fencing, countertops, and backsplashes, aluminum parts can add a strong and beautiful element to your home. Requiring little maintenance, aluminum is a great alternative for in home structures.</p>

                  <p>Every in home piece is custom designed and manufactured for you and your home to showcase individual styles and assure a quality result that fits you and your home perfectly.</p>

                  <p></p>

                  <p><a href="/#/gallery/home">View image gallery</a></p>


                </div>
              </div>
            </div>
          </li>
          <li>
            <div style="width: 750px; height: 450px; background: url('/img/home-page-restoration.jpg');">
              <div class="cover slider-text">
                <div class="handle">
                 <h3>Restorations</h3>
                </div>
                <div class="body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor turpis nisl, eu aliquam quam ornare vel. Pellentesque vel ipsum quis dui lobortis pharetra. </p><p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                  <p></p>


                </div>
              </div>
            </div>
          </li>
          <li>
            <div style="width: 750px; height: 450px; background: url('/img/custom.JPG');">
              <div class="cover slider-text">
                <div class="handle">
                 <h3 class="">Custom Fabrication</h3>
                </div>
                <div class="body">
                  <p>Whether its aluminum, stainless, or carbon steel, we provide onsite welding, fabrication, laser cutting and machining. At DK we have all the tools to take your project from concept to completion. </p>

                  <p>Always looking for a challenge, we would be happy to help you design your perfect product. Whether the project is big or small, DK Custom Welding &amp; Design will meet your needs, and exceed your expectations.</p>

                  <p><p><a href="/#/gallery/custom">View image gallery</a></p></p>

                </div>
              </div>
            </div>
          </li>
          <li>
            <div style="width: 750px; height: 450px; background: blue;">

            </div>
          </li>
        </ul>
      </div>
      <!-- <div id="coverflow">


                <div class="cover slider-text">
                  <div class="handle">
                   <h3>Home &amp; Office</h3>
                  </div>
                  <div class="body">
                    <p>From decorative interior stair railings to functional pool fencing, countertops, and backsplashes, aluminum parts can add a strong and beautiful element to your home. Requiring little maintenance, aluminum is a great alternative for in home structures.</p>

                    <p>Every in home piece is custom designed and manufactured for you and your home to showcase individual styles and assure a quality result that fits you and your home perfectly.</p>

                    <p></p>

                    <p><a href="/#/gallery/home">View image gallery</a></p>


                  </div>
                </div>



                <div class="cover slider-text">
                  <div class="handle">
                   <h3>Restorations</h3>
                  </div>
                  <div class="body">
                    <p>From decorative interior stair railings to functional pool fencing, countertops, and backsplashes, aluminum parts can add a strong and beautiful element to your home. Requiring little maintenance, aluminum is a great alternative for in home structures.</p>

                    <p>Every in home piece is custom designed and manufactured for you and your home to showcase individual styles and assure a quality result that fits you and your home perfectly.</p>

          <p></p>


                  </div>
                </div>



                <div class="cover slider-text">
                  <div class="handle">
                   <h3 class="h3-pullup">Custom Fabrication</h3>
                  </div>
                  <div class="body">
                    <p>Whether its aluminum, stainless, or carbon steel, we provide onsite welding, fabrication, laser cutting and machining. At DK we have all the tools to take your project from concept to completion. </p>

                    <p>Always looking for a challenge, we would be happy to help you design your perfect product. Whether the project is big or small, DK Custom Welding &amp; Design will meet your needs, and exceed your expectations.</p>

                    <p></p>

                    <p><a href="https://youtu.be/dc00Q4x3ztg">Watch Video</a></p>


                  </div>
                </div>

        </div> -->


    </div><!--CLose row slider wrap -->


 <div class="row home-headline">

      <div class="col-md-10" style="margin-top: 40px;">

        <p>DK Custom Welding and Design has both the capacity and ability to take your project from concept to completion.They provide superior quality aluminum, carbon and stainless steel fabrication services, in house brake press and laser cutting, custom truck accessories and work with both homeowners and industry professionals to create unique custom upgrades.
They are also proud to offer a full vehicle restoration and custom Hotrods shop.If you have a project in mind, drop in today for a free quote.</p>
      </div>
     <!-- <div class="col-md-1"></div><div class="col-md-1"></div> -->
      <div class="col-md-2">
        <h1>
          <a href="mailto:info@dkcustomwelding.com?subject=Quote request">
            <img src="/img/btn-quote.png" class="btn-contact" />
          </a>
        </h1>

        <h1>
          <a href="tel:5198469085">
            <img src="/img/btn-phone.png" class="btn-contact" />
          </a>
        </h1>
      </div>


  </div><!--Close row home-headline-->
</div><!--close header-inner-->
</div><!--Close home-hero-top-->
