<div class="row secondary-container product">
  <div class="row secondary-inner">
    <div class="secondary-hero">
      
      <div class="row header-inner">
          <div class="col-sm-4 col-md-4 feature feature-product">
            <div class="handle">
              <h5>Heavy Duty Tonneau Cover<br />(Patent Pending)</h5>
            </div>
            <div class="body">
              <img src="/img/dk-cover-7.png" class="img-responsive" style="width: 100%;" />
              <p>These heavy duty tonneau covers provide protection and extra storage
Features:
<ul class="product-points">              
<li>Sturdy, engineered design provides up to 5000 lbs extra capacity</li>
 <li>Limited lifetime warranty</li>


</ul></p>

          </div>
         </div>
            
          <div class="col-sm-4 col-md-4 feature feature-product">
            <div class="handle">
             <h5>Heavy Duty Bed Liner</h5>
            </div>
            <div class="body">
              <img src="/img/dk-liner-1.jpg" class="img-responsive" style="width: 100%;" />
              <p>
Protect your investment with a durable checkerplate bed liner.
Features:
<ul class="product-points">
  <li>Durable checkerplate construction</li>
  <li>Modular design for easy installation</li>
</ul>
</p>

          </div>
            
           </div>
            
          <div class="col-sm-4 col-md-4 feature feature-product">
            <div class="handle">
             <h5>Heavy Duty Tube Steps</h5>
            </div>
            <div class="body">
              <img src="/img/dk-tube-1.jpg" class="img-responsive" style="width: 100%;" />
              <p>
Extra Tough Thick Wall Tube Steps
Features:
<ul class="product-points">
  <li>Tough oval aluminum design</li>
  <li>Walls are twice as thick as<br />standard tube steps</li></ul>
         </p>

          </div></div>
      </div>
    </div>
  </div>
</div>