<div class="row secondary-container product">
  <div class="row secondary-inner">
    <div class="secondary-hero">

      <div id="lightgallery">
         <a href="img/img1.jpg">
             <img src="img/gallery/trucks/001.JPG" style="width: 100px;"/>
         </a>
         <a href="img/img2.jpg">
             <img src="img/gallery/trucks/009.JPG" style="width: 100px;" />
         </a>

       </div>

       <div class="row">
         <div class="col-md-12 about-copy">


         </div>

       </div>


    </div>
  </div>
</div>
